<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../../src/custom.min.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="../components/html5shiv/dist/html5shiv.js"></script>
      <script src="../components/respond/dest/respond.min.js"></script>
    <![endif]-->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">STUnitas Conects-Dev-Lab</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">CSS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="css.html#navbar">Navbar</a></li>
              <li><a href="css.html#buttons">Buttons</a></li>
              <li><a href="css.html#typography">Typography</a></li>
              <li><a href="css.html#tables">Tables</a></li>
              <li><a href="css.html#forms">Forms</a></li>
              <li><a href="css.html#navs">Navs</a></li>
              <li><a href="css.html#indicators">Indicators</a></li>
              <li><a href="css.html#progress-bars">Progress bars</a></li>
              <li><a href="css.html#containers">Containers</a></li>
              <li><a href="css.html#dialogs">Dialogs</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">JAVASCRIPT <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="javascript.html#transitions">Transitions</a></li>
              <li><a href="javascript.html#modal">Modal</a></li>
              <li><a href="javascript.html#dropdown">Dropdown</a></li>
              <li><a href="javascript.html#scrollspy">Scrollspy</a></li>
              <li><a href="javascript.html#tab">Tab</a></li>
              <li><a href="javascript.html#tooltip">Tooltip</a></li>
              <li><a href="javascript.html#popover">Popover</a></li>
              <li><a href="javascript.html#alert">Alert</a></li>
              <li><a href="javascript.html#button">Button</a></li>
              <li><a href="javascript.html#collapse">Collapse</a></li>
              <li><a href="javascript.html#carousel">Carousel</a></li>
              <li><a href="javascript.html#affix">Affix</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">COMPONENTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="components.html#dropdowns">Dropdowns</a></li>
              <li><a href="components.html#button-groups">Button groups</a></li>
              <li><a href="components.html#button-dropdowns">Button dropdowns</a></li>
              <li><a href="components.html#input-groups">Input groups</a></li>
              <li><a href="components.html#navs">Navs</a></li>
              <li><a href="components.html#navbar">Navbar</a></li>
              <li><a href="components.html#breadcrumbs">Breadcrumbs</a></li>
              <li><a href="components.html#pagination">Pagination</a></li>
              <li><a href="components.html#labels">Labels</a></li>
              <li><a href="components.html#badges">Badges</a></li>
              <li><a href="components.html#jumbotron">Jumbotron</a></li>
              <li><a href="components.html#page-header">Page header</a></li>
              <li><a href="components.html#thumbnails">Thumbnails</a></li>
              <li><a href="components.html#alerts">Alerts</a></li>
              <li><a href="components.html#progress-bars">Progress bars</a></li>
              <li><a href="components.html#media-object">Media object</a></li>
              <li><a href="components.html#list-group">List group</a></li>
              <li><a href="components.html#panels">Panels</a></li>
              <li><a href="components.html#responsive-embed">Responsive embed</a></li>
              <li><a href="components.html#wells">Wells</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">LAYOUTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="layouts.html#Left">Left fix</a></li>
              <li><a href="layouts.html#Right">Right fix</a></li>
              <li><a href="layouts.html#Center">Center fix</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="theme">HOW TO USE <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="guide.html#css">Css</a></li>
              <li><a href="guide.html#components">Components</a></li>
              <li><a href="#layouts">Layouts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1>Theme-Conects</h1>
          <p class="lead">STUnitas Conects-Super-Dev-Lab</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>LAYOUTS</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="layouts.html#Left">Left fix</a>
            <a class="list-group-item" href="layouts.html#Right">Right fix</a>
            <a class="list-group-item" href="layouts.html#Center">Center fix</a>
            <a class="list-group-item" href="javascript:$(this.alert('See you soon~!'));">now working :)</a>
          </div>
        </div>
      </div>
    </div>

    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Source Code</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-primary" onclick="copyToClipboard('#toClipboard')">Copy
              Source</button></div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../src/js/bootstrap.js"></script>
  <script src="../src/js/custom.js"></script>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("클립보드로 복사됐습니다.");
    }
  </script>

</body>

</html>