<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Johnny's Theme</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <!-- Layouts -->
          <li class="dropdown">
            <a href="layouts.html">LAYOUTS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">LAYOUTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="layouts.html#">Left fix</a></li>
              <li><a href="layouts.html#Right">Right fix</a></li>
              <li><a href="layouts.html#Center">Center fix</a></li>
            </ul> -->
          </li>
          <!-- Components -->
          <li class="dropdown">
            <a href="components.html">COMPONENTS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">COMPONENTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="components.html#typography">Typography</a></li>
              <li><a href="components.html#navs">Navs</a></li>
              <li><a href="components.html#navbar">Navbar</a></li>
              <li><a href="components.html#buttons">Buttons</a></li>
              <li><a href="components.html#tables">Tables</a></li>
              <li><a href="components.html#forms">Forms</a></li>
              <li><a href="components.html#inputs">Inputs</a></li>
              <li><a href="components.html#indicators">Indicators</a></li>
              <li><a href="components.html#progress-bars">Progress bars</a></li>
              <li><a href="components.html#containers">Containers</a></li>
              <li><a href="components.html#dialogs">Dialogs</a></li>
              <li><a href="components.html#thumbnail">Thumbnail</a></li>
            </ul> -->
          </li>
          <!-- Plugins -->
          <li class="dropdown">
            <a href="plugins.html">PLUGINS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">PLUGINS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="plugins.html#chart">Chart</a></li>
              <li><a href="plugins.html#steps">Steps</a></li>
              <li><a href="plugins.html#picker">Date Picker</a></li>
              <li><a href="plugins.html#picker">Date Range Picker</a></li>
              <li><a href="plugins.html#picker">Clock Picker</a></li>
              <li><a href="plugins.html#rangeSlider">Range Slider</a></li>
              <li><a href="plugins.html#nouiSlider">Noui Slider</a></li>
              <li><a href="plugins.html#select2">Select2</a></li>
              <li><a href="plugins.html#imageCropper">Image Cropper</a></li>
            </ul> -->
          </li>
          <!-- Helper -->
          <li class="dropdown">
            <a href="helper.html">HELPER</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">HELPER <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="helper.html#contextualColors">Contextual colors</a></li>
              <li><a href="helper.html#contextualBackgrounds">Contextual backgrounds</a></li>
              <li><a href="helper.html#gridsystem">Grid System</a></li>
            </ul> -->
          </li>
          <!-- Conects -->
          <li class="dropdown">
            <a href="conects.html">CONECTS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">CONECTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="conects.html#listAcademy">학원 카드리스트</a></li>
              <li><a href="conects.html#listReadingRoom">독서실 카드리스트</a></li>
            </ul> -->
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="theme">HOW TO USE <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="guide.html#css">Css</a></li>
              <li><a href="guide.html#components">Components</a></li>
              <li><a href="guide.html#layouts">Layouts</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Theme</h1>
          <p class="lead">Johnny's theme</p>
        </div>
      </div>
      <!-- Page navigation -->
      <!-- <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>HOW TO USE</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="guide.html#css">CSS</a>
            <a class="list-group-item" href="guide.html#components">COMPONENTS</a>
            <a class="list-group-item" href="guide.html#layouts">LAYOUTS</a>
          </div>
        </div>
      </div> -->
      <!-- // Page navigation -->
    </div><!-- // Contents-Area -->

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="listAcademy">배워봐요</h2></div>

          <div class="row">
            <h3 class="col-sm-12">학원 카드형 리스트</h3>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">독서실 카드형 리스트</h3>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <img src="//placehold.it/1x1.png?text=No+Image">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <img src="//placehold.it/1x1.png?text=No+Image">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <img src="//placehold.it/1x1.png?text=No+Image">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <img src="//placehold.it/1x1.png?text=No+Image">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="thumbnail panel-card">
                  <img src="//placehold.it/1x1.png?text=No+Image">
                  <a href="#" title="지점명 노출">
                    <div class="clearfix caption">
                      <strong>포텐스터디카페</strong>
                      <p>서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층 서울 서초구 서초대로 77길 37 9층</p>
                      <ul class="list-inline ellipsis hash-tag">
                        <li>01</li>
                        <li>02</li>
                        <li>03</li>
                        <li>04</li>
                        <li>05</li>
                        <li>06</li>
                        <li>07</li>
                      </ul>
                      <div class="panel-card-eval">
                        <div class="pull-left card-eval-score">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <span class="eval-score">4.5</span>
                          <span class="eval-quantity">1</span>
                          <span class="pull-right card-eval-review">1</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">배너</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="banner-line">
                  <a href="#"><img src="//placehold.it/950x100?text=Banner+Area-01" alt="Banner Area-01"></a>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">검색</h3>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <form action="" class="search-form-01" role="search">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="search" />
                    <span class="input-group-btn">
                      <button class="btn btn-info" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
                <!-- // Code Here -->
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <form action="" class="search-form-02" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">탭</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">슬라이더</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <!--
                -->
                <link rel="stylesheet" type="text/css"
                  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
                <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
                </script>
                <div class="list-inline slick slick-banner-line">
                  <div><a href="#"><img src="//placehold.it/950x100?text=Banner+Area-01" alt="Banner Area-01"></a></div>
                  <div><a href="#"><img src="//placehold.it/950x100?text=Banner+Area-02" alt="Banner Area-02"></a></div>
                  <div><a href="#"><img src="//placehold.it/950x100?text=Banner+Area-03" alt="Banner Area-03"></a></div>
                </div>
                <script>
                  $(document).ready(function () {
                    $('.slick-banner-line').slick({
                      arrows: false,
                      dots: false,
                      centerMode: true,
                      responsive: [{
                          breakpoint: 992,
                          settings: {
                            // slidesToShow: 1
                          }
                        },
                        {
                          breakpoint: 768,
                          settings: {
                            // slidesToShow: 2
                          }
                        },
                        {
                          breakpoint: 375,
                          // settings: "unslick",
                        }
                      ]
                    });
                  });
                </script>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">지점 소개</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                <div class="text-center profile-info">
                  <div>
                    <img src="//placehold.it/100x100?text=Thumbnail+Image" alt="지점 대표이미지" class="profile-thumbnail">
                  </div>
                  <strong class="h3">지점명</strong>
                  <p class="text-center ellipsis">지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내지점안내</p>
                  <ul class="list-inline ellipsis">
                    <li><i class="fa fa-eye"></i><span>999</span></li>
                    <li><i class="fa fa-thumbs-up"></i><span>2.4</span></li>
                  </ul>
                  <ul class="list-inline ellipsis hash-tag">
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                    <li>05</li>
                    <li>06</li>
                    <li>07</li>
                    <li>08</li>
                    <li>09</li>
                  </ul>
                </div>
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">추천&amp;만족지수</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">리뷰</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록-소개</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록-과목</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록-커리큘럼</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록-수업영상</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">수업목록-판서모음</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

          <div class="row">
            <h3 class="col-sm-12">문의리스트</h3>
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <div class="theme-component bs-component">
                <!-- Code Here -->
                작업예정
                <!-- // Code Here -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal
      ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">참고 소스</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary" onclick="copyToClipboard('#toClipboard')">Copy
              Source</button></div>
        </div>
      </div>
    </div>

  </div>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("SUCCESS: copy to clipboard.");
    }
  </script>

</body>

</html>