<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="stylesheet" href="../plugins/jquery.steps/jquery-steps.css">
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">STUnitas Conects-Dev-Lab</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">COMPONENTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="components.html#typography">Typography</a></li>
              <li><a href="components.html#navs">Navs</a></li>
              <!-- <li><a href="components.html#tabs">Tabs</a></li> -->
              <!-- <li><a href="components.html#breadcrumbs">Breadcrumbs</a></li> -->
              <!-- <li><a href="components.html#pagination">Pagination</a></li> -->
              <!-- <li><a href="components.html#pager">Pager</a></li> -->
              <li><a href="components.html#navbar">Navbar</a></li>
              <!-- <li><a href="components.html#input-groups">Input groups</a></li> -->
              <li><a href="components.html#buttons">Buttons</a></li>
              <!-- <li><a href="components.html#button-groups">Button groups</a></li> -->
              <!-- <li><a href="components.html#button-dropdowns">Button dropdowns</a></li> -->
              <!-- <li><a href="components.html#dropdowns">Dropdowns</a></li> -->
              <li><a href="components.html#tables">Tables</a></li>
              <li><a href="components.html#forms">Forms</a></li>
              <li><a href="components.html#inputs">Inputs</a></li>
              <li><a href="components.html#indicators">Indicators</a></li>
              <!-- <li><a href="components.html#alerts">Alerts</a></li> -->
              <!-- <li><a href="components.html#labels">Labels</a></li> -->
              <!-- <li><a href="components.html#badges">Badges</a></li> -->
              <li><a href="components.html#progress-bars">Progress bars</a></li>
              <li><a href="components.html#containers">Containers</a></li>
              <!-- <li><a href="components.html#jumbotron">Jumbotron</a></li> -->
              <!-- <li><a href="components.html#list-group">List group</a></li> -->
              <!-- <li><a href="components.html#panels">Panels</a></li> -->
              <!-- <li><a href="components.html#wells">Wells</a></li> -->
              <li><a href="components.html#dialogs">Dialogs</a></li>
              <!-- <li><a href="components.html#modals">Modals</a></li> -->
              <!-- <li><a href="components.html#popovers">Popovers</a></li> -->
              <!-- <li><a href="components.html#tooltips">Tooltips</a></li> -->
              <li><a href="components.html#thumbnail">Thumbnail</a></li>
              <!-- <li><a href="components.html#progress-bars">Progress bars</a></li> -->
              <!-- <li><a href="components.html#media-object">Media object</a></li> -->
              <!-- <li><a href="components.html#responsive-embed">Responsive embed</a></li> -->
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">CSS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">HELPER <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="helper.html#contextualColors">Contextual colors</a></li>
              <li><a href="helper.html#contextualBackgrounds">Contextual backgrounds</a></li>
              <li><a href="helper.html#borders">Borders</a></li>
              <li><a href="helper.html#borderRadius">Border radius</a></li>
              <li><a href="helper.html#hrLine">Hr Line</a></li>
              <li><a href="helper.html#images">Images</a></li>
              <li><a href="helper.html#margins">Margins</a></li>
              <li><a href="helper.html#paddings">Paddings</a></li>
              <li><a href="helper.html#widthHeight">Width, height</a></li>
              <li><a href="helper.html#basicFontWidth">Basic font width</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">LAYOUTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="layouts.html#Left">Left fix</a></li>
              <li><a href="layouts.html#Right">Right fix</a></li>
              <li><a href="layouts.html#Center">Center fix</a></li>
              <li><a href="javascript:$(this.alert('See you soon~!'));">Now Working</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="theme">HOW TO USE <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="guide.html#css">Css</a></li>
              <li><a href="guide.html#components">Components</a></li>
              <li><a href="#layouts">Layouts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Cotents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Theme-Conects</h1>
          <p class="lead">STUnitas Conects-Super-Dev-Lab</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>Component</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="javascript:$(this.alert('See you soon~!'));">now working :)</a>
          </div>
        </div>
      </div>
    </div><!-- // Contents-Area -->

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="steps">Steps</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->
              <div id="demo">
                <div class="step-app">
                  <ul class="step-steps">
                    <li><a href="#step1">Step 1</a></li>
                    <li><a href="#step2">Step 2</a></li>
                    <li><a href="#step3">Step 3</a></li>
                  </ul>
                  <div class="step-content">
                    <div class="step-tab-panel" id="step1">
                      ...
                    </div>
                    <div class="step-tab-panel" id="step2">
                      ...
                    </div>
                    <div class="step-tab-panel" id="step3">
                      ...
                    </div>
                  </div>
                  <div class="step-footer">
                    <button data-direction="prev" class="step-btn">Previous</button>
                    <button data-direction="next" class="step-btn">Next</button>
                    <button data-direction="finish" class="step-btn">Finish</button>
                  </div>
                </div>
              </div>

              <script src="http://code.jquery.com/jquery-latest.min.js"></script>
              <script src="../plugins/jquery.steps/jquery-steps.js"></script>
              <script>
                $('#demo').steps({
                  onFinish: function () {
                    alert('Wizard Completed');
                  }
                });
              </script>
              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal
      ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">참고 소스</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-primary" onclick="copyToClipboard('#toClipboard')">Copy
              Source</button></div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("클립보드로 복사됐습니다.");
    }
  </script>

</body>

</html>