<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 100px;
    }

    .bs-component {
      position: relative;
    }

    .bs-component .source-button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    .bs-component:hover .source-button {
      display: block;
    }
  </style>
</head>

<body>
  <!-- Header-Area -->
  <div class="header">
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="feelway-menus.html">F.T-Menus</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-images.html">F.T-Images</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-buttons.html">F.T-Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-forms.html">F.T-Forms</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-filters.html">F.T-Filters</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-tables.html">F.T-Tables</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-other.html">F.T-Other</a></li>
        </ul>
      </div>
    </div>
  </div><!-- // Header-Area -->

  <div class="container">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>FeeLWAY</h1>
          <p class="lead">Project name: <strong>FeeLWAY2.0</strong></p>
          <h2>Components - FILTERS</h2>
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

  </div>

  <div class="container">

    <!-- Menus
    ================================================== -->
    <div class="bs-docs-section">
      <div class="clearfix container align-center">
        <h3>01.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>
      <div class="clearfix container align-center">
        <h3>02.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>
      <div class="clearfix container align-center">
        <h3>03.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>
      <div class="clearfix container align-center">
        <h3>04.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>
      <div class="clearfix container align-center">
        <h3>05.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>
      <div class="clearfix container align-center">
        <h3>06.</h3>
        <div class="bs-component">
          <!-- Source Here -->

          <!-- // Source Here -->
        </div>
      </div>

      <div class="hr-line-dashed"></div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">참고 소스</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>