<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="feelway-menus.html">F.T-Menus</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-images.html">F.T-Images</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-buttons.html">F.T-Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-forms.html">F.T-Forms</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-filters.html">F.T-Filters</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-tables.html">F.T-Tables</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-other.html">F.T-Other</a></li>
        </ul>
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>FeeLWAY</h1>
          <p class="lead">Project name: <strong>FeeLWAY2.0</strong></p>
          <h2>Components - MENUS</h2>
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

  </div>

  <div class="container">

    <!-- Menus
    ================================================== -->
    <div class="bs-docs-section">
      <!-- <h3 id="typography">Menus</h3> -->
      <div class="clearfix container align-center">
        <h3>01. Create Tab</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-01">
            <!-- Tab links -->
            <div class="tab01">
              <button class="tablinks01" onclick="container01(event, 'Seoul')" id="defaultOpen">Seoul</button>
              <button class="tablinks01" onclick="container01(event, 'Busan')">Busan</button>
              <button class="tablinks01" onclick="container01(event, 'Daegu')">Daegu</button>
            </div>

            <!-- Tab content -->
            <div id="Seoul" class="tabcontent01">
              <h4>Seoul</h4>
              <p>Seoul Seoul Seoul Seoul Seoul Seoul Seoul Seoul Seoul Seoul</p>
            </div>

            <div id="Busan" class="tabcontent01">
              <h4>Busan</h4>
              <p>Busan Busan Busan Busan Busan Busan Busan Busan Busan Busan</p>
            </div>

            <div id="Daegu" class="tabcontent01">
              <h4>Daegu</h4>
              <p>Daegu Daegu Daegu Daegu Daegu Daegu Daegu Daegu Daegu Daegu</p>
            </div>
          </div>

          <script>
            function container01(evt, cityName) {
              var i, tabcontent01, tablinks01;

              tabcontent01 = document.getElementsByClassName("tabcontent01");
              for (i = 0; i < tabcontent01.length; i++) {
                tabcontent01[i].style.display = "none";
              }

              tablinks01 = document.getElementsByClassName("tablinks01");
              for (i = 0; i < tablinks01.length; i++) {
                tablinks01[i].className = tablinks01[i].className.replace(" active", "");
              }

              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }

            document.getElementById("defaultOpen").click();
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>03. Responsive Navigation Bar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-03">
            <div class="topnav03" id="myTopnav03">
              <a href="#home" class="active">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
              <a href="javascript:void(0);" class="icon03" onclick="container03()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>

          <script>
            function container03() {
              var x = document.getElementById("myTopnav03");
              if (x.className === "topnav03") {
                x.className += " responsive03";
              } else {
                x.className = "topnav03";
              }
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>04. Search/Filter Menu *</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-04">
            <input type="text" id="mySearch04" onkeyup="container04()" placeholder="Search.." title="Type in a category">

            <ul id="myMenu04">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">jQuery</a></li>
              <li><a href="#">SQL</a></li>
              <li><a href="#">Bootstrap</a></li>
              <li><a href="#">Node.js</a></li>
            </ul>
					</div>

					<script>
            function container04() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("mySearch04");
              filter = input.value.toUpperCase();
              ul = document.getElementById("myMenu04");
              li = ul.getElementsByTagName("li");

              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
					</script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>05. Responsive Search Bar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-05">
            <div class="topnav05">
              <a class="active" href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
              <input type="text" placeholder="Search..">
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>06. Fixed Sidebar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-06">
            <!-- Side navigation -->
            <div class="sidenav06">
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>

            <!-- Page content -->
            <div class="main06">
              ...
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>07. Side Navigation</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-07">
            <div id="mySidenav07" class="sidenav07">
              <a href="javascript:void(0)" class="closebtn07" onclick="container07closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>

            <span onclick="container07openNav()">open</span>

            <div id="main07">
              ...
            </div>
          </div>

          <script>
            function container07openNav() {
              document.getElementById("mySidenav07").style.width = "250px";
            }

            function container07closeNav() {
              document.getElementById("mySidenav07").style.width = "0";
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>08. Responsive Sidebar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-08">
            <!-- The sidebar -->
            <div class="sidebar08">
              <a class="active" href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
            </div>

            <!-- Page content -->
            <div class="content08">
              ..
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>09. Full screen Overlay Navigation</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-09">
            <div id="myNav09" class="overlay09">
              <a href="javascript:void(0)" class="closebtn09" onclick="container09closeNav()">&times;</a>
              <div class="overlay-content09">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
              </div>
            </div>
            <span onclick="container09openNav()">open</span>
          </div>

          <script>
            function container09openNav() {
              document.getElementById("myNav09").style.width = "100%";
            }

            function container09closeNav() {
              document.getElementById("myNav09").style.width = "0%";
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>10. Off-Canvas Menu</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-10">
            <div id="mySidenav10" class="sidenav10">
              <a href="javascript:void(0)" class="closebtn10" onclick="container10closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>
            <span onclick="container10openNav()">open</span>
            <div id="main10">
              ...
            </div>
          </div>

          <script>
            function container10openNav() {
              document.getElementById("mySidenav10").style.width = "250px";
              document.getElementById("main10").style.marginLeft = "250px";
            }

            function container10closeNav() {
              document.getElementById("mySidenav10").style.width = "0";
              document.getElementById("main10").style.marginLeft = "0";
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>11. Responsive Bottom Navigation</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-11">
            <div class="navbar11" id="myNavbar11">
              <a href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
              <a href="javascript:void(0);" class="icon11" onclick="container11()">&#9776;</a>
            </div>
          </div>

          <script>
            function container11() {
              var x = document.getElementById("myNavbar11");
              if (x.className === "navbar11") {
                x.className += " responsive";
              } else {
                x.className = "navbar11";
              }
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>12. Equal Width Navbar Links</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-12">
            <!-- The navigation menu -->
            <div class="navbar12">
              <a class="active" href="#">Home</a>
              <a href="#">Search</a>
              <a href="#">Contact</a>
              <a href="#">Login</a>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>13. Fixed Menu</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-13">
            <div class="navbar13">
              <a href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
            </div>

            <div class="main13">
              <p>Some text some text some text some text..</p>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>14. Hide Menu on Scroll *</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-14">
            <div id="navbar14">
              <a href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
            </div>
          </div>

          <script>
            var prevContainer14Scrollpos = window.pageYOffset;
            window.onscroll = function() {
              var currentContainer14ScrollPos = window.pageYOffset;
              if (prevContainer14Scrollpos > currentContainer14ScrollPos) {
                document.getElementById("navbar14").style.top = "0";
              } else {
                document.getElementById("navbar14").style.top = "-50px";
              }
              prevContainer14Scrollpos = currentContainer14ScrollPos;
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <!-- Source Here -->

        <!--
        <h3>15. Shrink Navigation Menu on Scroll</h3>
        <div class="bs-component feelwaymenus">

          <div class="container-15">
            <div id="navbar15">
              <a href="#default" id="logo15">CompanyLogo</a>
              <div id="navbar-right15">
                <a class="active" href="#home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
              </div>
            </div>
          </div>

          <script>
            window.onscroll = function() {container15scrollFunction()};

            function container15scrollFunction() {
              if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar15").style.padding = "30px 10px";
                document.getElementById("logo15").style.fontSize = "25px";
              } else {
                document.getElementById("navbar15").style.padding = "80px 10px";
                document.getElementById("logo15").style.fontSize = "35px";
              }
            }
          </script>

        </div>
        -->

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>16. Sticky/Affix Navbar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-16">
            <div id="navbar16">
              <a href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
            </div>
          </div>

          <script>
            window.onscroll = function() {container16()};
            var navbar16 = document.getElementById("navbar16");
            var sticky16 = navbar16.offsetTop;
            function container16() {
              if (window.pageYOffset >= sticky16) {
                navbar16.classList.add("sticky16")
              } else {
                navbar16.classList.remove("sticky16");
              }
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>17. Responsive Navbar with Dropdown</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-17">
            <div class="topnav17" id="myTopnav17">
              <a href="#home" class="active">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <div class="dropdown17">
                <button class="dropbtn17">Dropdown <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content17">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              <a href="#about">About</a>
              <a href="javascript:void(0);" class="icon17" onclick="container17()">&#9776;</a>
            </div>
          </div>

          <script>
            function container17() {
              var x = document.getElementById("myTopnav17");
              if (x.className === "topnav17") {
                x.className += " responsive";
              } else {
                x.className = "topnav17";
              }
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>18. Subnav</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-18">
            <!-- The navigation menu -->
            <div class="navbar18">
              <a href="#home">Home</a>
              <div class="subnav18">
                <button class="subnavbtn18">About <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content18">
                  <a href="#company">Company</a>
                  <a href="#team">Team</a>
                  <a href="#careers">Careers</a>
                </div>
              </div>
              <div class="subnav18">
                <button class="subnavbtn18">Services <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content18">
                  <a href="#bring">Bring</a>
                  <a href="#deliver">Deliver</a>
                  <a href="#package">Package</a>
                  <a href="#express">Express</a>
                </div>
              </div>
              <div class="subnav18">
                <button class="subnavbtn18">Partners <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content18">
                  <a href="#link1">Link 1</a>
                  <a href="#link2">Link 2</a>
                  <a href="#link3">Link 3</a>
                  <a href="#link4">Link 4</a>
                </div>
              </div>
              <a href="#contact">Contact</a>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>19. Mega Menu</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-19">
            <div class="navbar19">
              <a href="#home">Home</a>
              <a href="#news">News</a>
              <div class="dropdown19">
                <button class="dropbtn19">Dropdown
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content19">
                  <div class="header19">
                    <h2>Mega Menu</h2>
                  </div>
                  <div class="row19">
                    <div class="column19">
                      <h3>Category 1</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                    <div class="column19">
                      <h3>Category 2</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                    <div class="column19">
                      <h3>Category 3</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>20. Mobile Navigation Menu</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-20">
            <div class="topnav20">
              <a href="#home" class="active">Logo</a>
              <div id="myLinks20">
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
              </div>
              <a href="javascript:void(0);" class="icon20" onclick="container20()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>

          <script>
            function container20() {
              var x = document.getElementById("myLinks20");
              if (x.style.display === "block") {
                x.style.display = "none";
              } else {
                x.style.display = "block";
              }
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>21. Collapse Sidebar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-21">
            <div id="mySidebar21" class="sidebar21">
              <a href="javascript:void(0)" class="closebtn21" onclick="container21closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>

            <div id="main21">
              <button class="openbtn21" onclick="container21openNav()">&#9776; Toggle Sidebar</button>
              <h2>Collapsed Sidebar</h2>
              <p>Content...</p>
            </div>
          </div>

          <script>
            function container21openNav() {
              document.getElementById("mySidebar21").style.width = "250px";
              document.getElementById("main21").style.marginLeft = "250px";
            }

            function container21closeNav() {
              document.getElementById("mySidebar21").style.width = "0";
              document.getElementById("main21").style.marginLeft = "0";
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>22. Collapse Sidepanel</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-22">
            <div id="mySidepanel22" class="sidepanel22">
              <a href="javascript:void(0)" class="closebtn22" onclick="container22closeNav()">&times;</a>
              <a href="#">About</a>
              <a href="#">Services</a>
              <a href="#">Clients</a>
              <a href="#">Contact</a>
            </div>

            <button class="openbtn22" onclick="container22openNav()">&#9776; Toggle Sidepanel</button>
            <h2>Collapsed Sidepanel</h2>
            <p>Content...</p>
          </div>

          <script>
            function container22openNav() {
              document.getElementById("mySidepanel22").style.width = "250px";
            }

            function container22closeNav() {
              document.getElementById("mySidepanel22").style.width = "0";
            }
          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>23. CSS Pagination</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-23">
            <div class="pagination23">
              <a href="#">&laquo;</a>
              <a href="#">1</a>
              <a class="active" href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">&raquo;</a>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>24. CSS Breadcrumbs</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-24">
            <ul class="breadcrumb24">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pictures</a></li>
              <li><a href="#">Summer 15</a></li>
              <li>Italy</li>
            </ul>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>25. Sticky Social Bar</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-25">
            <!-- The social media icon bar -->
              <div class="icon-bar25">
                <a href="#" class="facebook25"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter25"><i class="fa fa-twitter"></i></a>
                <a href="#" class="google25"><i class="fa fa-google"></i></a>
                <a href="#" class="linkedin25"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="youtube25"><i class="fa fa-youtube"></i></a>
              </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>26. Pill Navigation</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-26">
            <div class="pill-nav26">
              <a class="active" href="#home">Home</a>
              <a href="#news">News</a>
              <a href="#contact">Contact</a>
              <a href="#about">About</a>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>

      <div class="hr-line-dashed"></div>

      <div class="clearfix container align-center">
        <h3>27. Responsive Header</h3>
        <!-- Source Here -->

        <div class="bs-component feelwaymenus">

          <div class="container-27">
            <div class="header27">
              <a href="#default" class="logo">CompanyLogo</a>
              <div class="header-right27">
                <a class="active" href="#home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
              </div>
            </div>
          </div>

          <script>

          </script>

        </div>

        <!-- // Source Here -->
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">참고 소스</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>