<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="feelway-menus.html">F.T-Menus</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-images.html">F.T-Images</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-buttons.html">F.T-Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-forms.html">F.T-Forms</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-filters.html">F.T-Filters</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-tables.html">F.T-Tables</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-other.html">F.T-Other</a></li>
        </ul>
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>FeeLWAY</h1>
          <p class="lead">Project name: <strong>FeeLWAY2.0</strong></p>
          <h2>Components - BUTTONS</h2>
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

  </div>

  <div class="container">

    <!-- Buttons
    ================================================== -->
    <div class="bs-docs-section">
      <div class="clearfix container align-center">
        <h3>01. Alert Buttons</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-01">
            <button class="btn-01 success-01">Success</button>
            <button class="btn-01 info-01">Info</button>
            <button class="btn-01 warning-01">Warning</button>
            <button class="btn-01 danger-01">Danger</button>
            <button class="btn-01 default-01">Default</button>
          </div>
          <script>

          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>02. Outline Buttons</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-02">
            <button class="btn-02 success-02">Success</button>
            <button class="btn-02 info-02">Info</button>
            <button class="btn-02 warning-02">Warning</button>
            <button class="btn-02 danger-02">Danger</button>
            <button class="btn-02 default-02">Default</button>
          </div>
          <script>

          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>03. Split Buttons</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-03">
            <button class="btn-03">Button</button>
            <div class="dropdown-03">
              <button class="btn-03" style="border-left:1px solid navy">
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content-03">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
          <script>

          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>04. Read More Read Less Button</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-04">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots-04">...</span><span id="more-04">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
            </p>

            <button onclick="container04()" id="myBtn-04">Read more</button>
          </div>
          <script>
            function container04() {
              var dots = document.getElementById("dots-04");
              var moreText = document.getElementById("more-04");
              var btnText = document.getElementById("myBtn-04");

              if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
              } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
              }
            }
          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>05. Loading Buttons</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-05">
            <button class="buttonload-05"><i class="fa fa-spinner fa-spin"></i> Loading</button>

            <button class="buttonload-05"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>

            <button class="buttonload-05"><i class="fa fa-refresh fa-spin"></i> Loading</button>
          </div>
          <script>

          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>06. Next and Previous Buttons</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-06">
            <a href="#" class="previous-06">&laquo; Previous</a>
            <a href="#" class="next-06">Next &raquo;</a>

            <a href="#" class="previous-06 round-06">&#8249;</a>
            <a href="#" class="next-06 round-06">&#8250;</a>
          </div>
          <script>

          </script>

        </div>
        <!-- // Source Here -->
      </div>
      <div class="clearfix container align-center">
        <h3>07. Scroll Back To Top Button</h3>
        <!-- Source Here -->
        <div class="bs-component feelwaybuttons">

          <div class="container-07">
            <button onclick="topFunction()" id="myBtn-07" title="Go to top">Top</button>
          </div>
          <script>
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn-07").style.display = "block";
              } else {
                document.getElementById("myBtn-07").style.display = "none";
              }
            }
            function topFunction() {
              document.body.scrollTop = 0; // For Safari
              document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
          </script>

        </div>
        <!-- // Source Here -->
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">참고 소스</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>