<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../src/custom.min.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">STUnitas Conects-Dev-Lab</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <!-- Layouts -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">LAYOUTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="layouts.html#Left">Left fix</a></li>
              <li><a href="layouts.html#Right">Right fix</a></li>
              <li><a href="layouts.html#Center">Center fix</a></li>
            </ul>
          </li>
          <!-- Components -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">COMPONENTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="components.html#typography">Typography</a></li>
              <li><a href="components.html#navs">Navs</a></li>
              <li><a href="components.html#navbar">Navbar</a></li>
              <li><a href="components.html#buttons">Buttons</a></li>
              <li><a href="components.html#tables">Tables</a></li>
              <li><a href="components.html#forms">Forms</a></li>
              <li><a href="components.html#inputs">Inputs</a></li>
              <li><a href="components.html#indicators">Indicators</a></li>
              <li><a href="components.html#progress-bars">Progress bars</a></li>
              <li><a href="components.html#containers">Containers</a></li>
              <li><a href="components.html#dialogs">Dialogs</a></li>
              <li><a href="components.html#thumbnail">Thumbnail</a></li>
            </ul>
          </li>
          <!-- Plugins -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">PLUGINS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="plugins.html#chart">Chart</a></li>
              <li><a href="plugins.html#steps">Steps</a></li>
              <li><a href="plugins.html#picker">Date Picker</a></li>
              <li><a href="plugins.html#picker">Date Range Picker</a></li>
              <li><a href="plugins.html#picker">Clock Picker</a></li>
              <li><a href="plugins.html#rangeSlider">Range Slider</a></li>
              <li><a href="plugins.html#nouiSlider">Noui Slider</a></li>
              <li><a href="plugins.html#select2">Select2</a></li>
              <li><a href="plugins.html#imageCropper">Image Cropper</a></li>
            </ul>
          </li>
          <!-- Helper -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">HELPER <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="helper.html#contextualColors">Contextual colors</a></li>
              <li><a href="helper.html#contextualBackgrounds">Contextual backgrounds</a></li>
              <li><a href="helper.html#gridsystem">Grid System</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="theme">HOW TO USE <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="guide.html#css">Css</a></li>
              <li><a href="guide.html#components">Components</a></li>
              <li><a href="guide.html#layouts">Layouts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Theme-Conects</h1>
          <p class="lead">STUnitas Conects-Super-Dev-Lab</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>HOW TO USE</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="guide.html#css">CSS</a>
            <a class="list-group-item" href="guide.html#components">COMPONENTS</a>
            <a class="list-group-item" href="guide.html#layouts">LAYOUTS</a>
          </div>
        </div>
      </div>
    </div><!-- // Contents-Area -->

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">Example</h2></div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal
      ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">참고 소스</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary" onclick="copyToClipboard('#toClipboard')">Copy
              Source</button></div>
        </div>
      </div>
    </div>

  </div>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("SUCCESS: copy to clipboard.");
    }
  </script>

</body>

</html>