<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Johnny's Theme</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <!-- Layouts -->
          <li class="dropdown">
            <a href="layouts.html">LAYOUTS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">LAYOUTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="layouts.html#">Left fix</a></li>
              <li><a href="layouts.html#Right">Right fix</a></li>
              <li><a href="layouts.html#Center">Center fix</a></li>
            </ul> -->
          </li>
          <!-- Plugins -->
          <li class="dropdown">
            <a href="plugins.html">PLUGINS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">PLUGINS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="plugins.html#chart">Chart</a></li>
              <li><a href="plugins.html#steps">Steps</a></li>
              <li><a href="plugins.html#picker">Date Picker</a></li>
              <li><a href="plugins.html#picker">Date Range Picker</a></li>
              <li><a href="plugins.html#picker">Clock Picker</a></li>
              <li><a href="plugins.html#rangeSlider">Range Slider</a></li>
              <li><a href="plugins.html#nouiSlider">Noui Slider</a></li>
              <li><a href="plugins.html#select2">Select2</a></li>
              <li><a href="plugins.html#imageCropper">Image Cropper</a></li>
            </ul> -->
          </li>
          <!-- Helper -->
          <li class="dropdown">
            <a href="helper.html">HELPER</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">HELPER <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="helper.html#contextualColors">Contextual colors</a></li>
              <li><a href="helper.html#contextualBackgrounds">Contextual backgrounds</a></li>
              <li><a href="helper.html#gridsystem">Grid System</a></li>
            </ul> -->
          </li>
          <!-- Components -->
          <li class="dropdown">
            <a href="components.html">COMPONENTS</a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">COMPONENTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="components.html#typography">Typography</a></li>
              <li><a href="components.html#navs">Navs</a></li>
              <li><a href="components.html#navbar">Navbar</a></li>
              <li><a href="components.html#buttons">Buttons</a></li>
              <li><a href="components.html#tables">Tables</a></li>
              <li><a href="components.html#forms">Forms</a></li>
              <li><a href="components.html#inputs">Inputs</a></li>
              <li><a href="components.html#indicators">Indicators</a></li>
              <li><a href="components.html#progress-bars">Progress bars</a></li>
              <li><a href="components.html#containers">Containers</a></li>
              <li><a href="components.html#dialogs">Dialogs</a></li>
              <li><a href="components.html#thumbnail">Thumbnail</a></li>
            </ul> -->
          </li>
          <!-- Conects -->
          <li class="dropdown">
            <a href="conects.html">CONECTS <small class="small">... Work Inprogress</small></a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">CONECTS <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="conects.html#listAcademy">학원 카드리스트</a></li>
              <li><a href="conects.html#listReadingRoom">독서실 카드리스트</a></li>
            </ul> -->
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="theme">HOW TO USE <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a href="guide.html#css">Css</a></li>
              <li><a href="guide.html#components">Components</a></li>
              <li><a href="guide.html#layouts">Layouts</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Theme</h1>
          <p class="lead">Johnny's theme</p>
        </div>
      </div>
      <!-- Page navigation -->
      <!-- <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>LAYOUTS</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="layouts.html#Left">Left fix</a>
            <a class="list-group-item" href="layouts.html#Right">Right fix</a>
            <a class="list-group-item" href="layouts.html#Center">Center fix</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>COMPONENTS</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="components.html#typography">Typography</a>
            <a class="list-group-item" href="components.html#navs">Navs</a>
            <a class="list-group-item" href="components.html#navbar">Navbar</a>
            <a class="list-group-item" href="components.html#buttons">Buttons</a>
            <a class="list-group-item" href="components.html#tables">Tables</a>
            <a class="list-group-item" href="components.html#forms">Forms</a>
            <a class="list-group-item" href="components.html#inputs">Inputs</a>
            <a class="list-group-item" href="components.html#indicators">Indicators</a>
            <a class="list-group-item" href="components.html#progress-bars">Progress bars</a>
            <a class="list-group-item" href="components.html#containers">Containers</a>
            <a class="list-group-item" href="components.html#dialogs">Dialogs</a>
            <a class="list-group-item" href="components.html#thumbnail">Thumbnail</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>PLUGINS</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="plugins.html#chart">Chart</a>
            <a class="list-group-item" href="plugins.html#steps">Steps</a>
            <a class="list-group-item" href="plugins.html#datePicker">Date Picker</a>
            <a class="list-group-item" href="plugins.html#dateRangePicker">Date Range Picker</a>
            <a class="list-group-item" href="plugins.html#clockPicker">Clock Picker</a>
            <a class="list-group-item" href="plugins.html#tagsInput">Tags Input</a>
            <a class="list-group-item" href="plugins.html#rangeSlider">Range Slider</a>
            <a class="list-group-item" href="plugins.html#nouiSlider">Noui Slider</a>
            <a class="list-group-item" href="plugins.html#select2">Select2</a>
            <a class="list-group-item" href="plugins.html#imageCropper">Image Cropper</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>HELPER</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="helper.html#contextualColors">Contextual colors</a>
            <a class="list-group-item" href="helper.html#contextualBackgrounds">Contextual backgrounds</a>
            <a class="list-group-item" href="helper.html#borders">Borders</a>
            <a class="list-group-item" href="helper.html#borderRadius">Border radius</a>
            <a class="list-group-item" href="helper.html#hrLine">Hr Line</a>
            <a class="list-group-item" href="helper.html#images">Images</a>
            <a class="list-group-item" href="helper.html#margins">Margins</a>
            <a class="list-group-item" href="helper.html#paddings">Paddings</a>
            <a class="list-group-item" href="helper.html#widthHeight">Width, height</a>
            <a class="list-group-item" href="helper.html#basicFontWidth">Basic font width</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>HOW TO USE</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="guide.html#css">CSS</a>
            <a class="list-group-item" href="guide.html#components">COMPONENTS</a>
            <a class="list-group-item" href="guide.html#layouts">LAYOUTS</a>
          </div>
        </div>
      </div> -->
      <!-- // Page navigation -->
    </div><!-- // Contents-Area -->

    <!-- 소개
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">소개</h2></div>
          <!-- Code Here -->
          <div class="row">
            <ul class="clearfix">
              <li class="col-sm-12 col-md-12 col-lg-12">Front-End에 공용으로 사용 될 목적을 가진 컴포넌트의 저장소입니다. <span class="small">(지속 업데이트.)</span></li>
              <li class="col-sm-12 col-md-12 col-lg-12">저장소는 Github을 이용했습니다.</li>
            </ul>
          </div>
          <!-- // Code Here -->
        </div>
      </div>
    </div>

    <!-- 구성
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header"><h2 id="">구성</h2></div>
          <!-- Code Here -->
          <div class="row">
            <p class="col-sm-12 col-md-12 col-lg-12">이 테마와 컴포넌트를 구성하는데에 사용 된 <code>Dependencies</code>는 아래와 같습니다.</p>
            <ul class="clearfix">
              <li class="col-sm-12 col-md-12 col-lg-12">
                <dl>
                  <dt>Webpack</dt>
                  <dd>Webpack <span class="small">@4.28.4</span></dd>
                  <dd>Webpack-cli <span class="small">@3.2.1</span></dd>
                  <dd>Webpack-merge <span class="small">@4.2.1</span></dd>
                </dl>
              </li>
              <li class="col-sm-12 col-md-12 col-lg-12">
                <dl>
                  <dt>Style</dt>
                  <dd>Bootstrap <span class="small">@3.3.7</span></dd>
                  <dd>Node-Sass <span class="small">@4.11.0</span></dd>
                  <dd>chosen-js <span class="small">1.8.7</span></dd>
                </dl>
              </li>
              <li class="col-sm-12 col-md-12 col-lg-12">
                <dl>
                  <dt>Loader</dt>
                  <dd>style-loader <span class="small">@0.23.1</span></dd>
                  <dd>css-loader <span class="small">@2.1.0</span></dd>
                  <dd>sass-loader <span class="small">@7.1.0</span></dd>
                  <dd>file-loader <span class="small">@3.0.1</span></dd>
                </dl>
              </li>
              <li class="col-sm-12 col-md-12 col-lg-12">
                <dl>
                  <dt>Plugins <code class="small">Webpack</code></dt>
                  <dd>babel-plugin-syntax-dynamic-import <span class="small">@6.18.0</span></dd>
                  <dd>uglifyjs-webpack-plugin <span class="small">@2.1.1</span></dd>
                  <dd>clean-webpack-plugin <span class="small">@1.0.1</span></dd>
                  <dd>mini-css-extract-plugin <span class="small">@0.5.0</span></dd>
                  <dd>optimize-css-assets-webpack-plugin <span class="small">@5.0.1</span></dd>
                  <dd>html-webpack-plugin <span class="small">@3.2.0</span></dd>
                </dl>
              </li>
              <li class="col-sm-12 col-md-12 col-lg-12">
                <dl>
                  <dt>Plugins <code class="small">Bootstrap</code></dt>
                  <dd>c3 <span class="small">@0.6.12</span></dd>
                  <dd>d3 <span class="small">@5.8.0</span></dd>
                  <dd>jquery-steps <span class="small">@1.1.0</span></dd>
                  <dd>jquery-validation <span class="small">@1.19.0</span></dd>
                  <dd>bootstrap-datepicker <span class="small">^1.8.0</span></dd>
                  <dd>bootstrap-daterangepicker <span class="small">^3.0.3</span></dd>
                  <dd>bootstrap-tagsinput <span class="small">^0.7.1</span></dd>
                  <dd>clockpicker <span class="small">0.0.7</span></dd>
                  <dd>imagecropper <span class="small">^0.1.3</span></dd>
                  <dd>ion-rangeslider <span class="small">^2.3.0</span></dd>
                  <dd>jquery-steps <span class="small">^1.1.0</span></dd>
                  <dd>nouislider <span class="small">^12.1.0</span></dd>
                  <dd>select2 <span class="small">^4.0.6-rc.1</span></dd>
                </dl>
              </li>
            </ul>
          </div>
          <!-- // Code Here -->
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <!-- <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h2 id="">Example</h2>
          </div>

          <div class="row">
            <div class="bs-component">

            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Modal
      ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">참고 소스</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-block btn-primary" onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

  </div>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("SUCCESS: copy to clipboard.");
    }
  </script>

</body>

</html>