<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="feelway-menus.html">F.T-Menus</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-images.html">F.T-Images</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-buttons.html">F.T-Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-forms.html">F.T-Forms</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-filters.html">F.T-Filters</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-tables.html">F.T-Tables</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway-other.html">F.T-Other</a></li>
        </ul>
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-12">
          <h1>FeeLWAY</h1>
          <p class="lead">Project name: <strong>FeeLWAY2.0</strong></p>
          <h2></h2>
        </div>
      </div>
    </div><!-- // Contents-Area -->

    <div class="hr-line-dashed"></div>

    <!-- 소개
    ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">소개</h3>
          </div>
          <!-- Code Here -->
          <div class="row">
            <ul class="clearfix">
              <li>Front-End에 공용으로 사용 될 목적을 가진 컴포넌트의 저장소입니다. <p class="small mb-0">(지속 업데이트.)</p>
              </li>
              <li>저장소는 Github을 이용했습니다.</li>
            </ul>
          </div>
          <!-- // Code Here -->
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <!-- 기대효과
    ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">기대효과</h3>
          </div>
          <!-- Code Here -->
          <div class="row">
            <ul class="clearfix">
              <li>기획/디자인/프론트/백엔드 가이드를 제공</li>
              <li>사용자 경험 향상</li>
              <li>사이트 퍼포먼스의 향상</li>
              <li>통일된 개발베이스를 제공함으로써 개발비용을 절감</li>
              <li>고도화된 업무에 집중</li>
              <li>사이트에 아이덴티티 부여</li>
              <li>디자인 패턴을 통일하고 사용자에게 안정감을 제공</li>
              <li>지속적인 관리로 정제된 소스를 제공</li>
              <li>협업부서와 커뮤니케이션 도구로 활용</li>
              <li>컴포넌트단위 작업물로 어떠한 환경에도 적용이 가능 <p class="small mb-0">(각 프레임워크 또는 언어에 맞게 커스터마이징 필요)</p>
              </li>
              <li>다양한 디바이스 환경을 지원 <p class="small mb-0">(디바이스 환경에 따른 사용자의 니즈를 충족)</p>
              </li>
            </ul>
          </div>
          <!-- // Code Here -->
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <!-- 구성
    ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">구성</h3>
          </div>
          <!-- Code Here -->
          <div class="row">
            <p class="col-12">이 테마와 컴포넌트를 구성하는데에 사용 된 <code>Dependencies</code>는 아래와 같습니다.</p>
            <ul class="clearfix">
              <li>
                <dl>
                  <dt>Webpack</dt>
                  <dd>Webpack <span class="small">@4.28.4</span></dd>
                  <dd>Webpack-cli <span class="small">@3.2.1</span></dd>
                  <dd>Webpack-merge <span class="small">@4.2.1</span></dd>
                  <dd>babel-plugin-syntax-dynamic-import <span class="small">@6.18.0</span></dd>
                  <dd>uglifyjs-webpack-plugin <span class="small">@2.1.1</span></dd>
                  <dd>clean-webpack-plugin <span class="small">@1.0.1</span></dd>
                  <dd>mini-css-extract-plugin <span class="small">@0.5.0</span></dd>
                  <dd>optimize-css-assets-webpack-plugin <span class="small">@5.0.1</span></dd>
                  <dd>html-webpack-plugin <span class="small">@3.2.0</span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Style</dt>
                  <dd>Bootstrap <span class="small">@4.3.1</span></dd>
                  <dd>Node-Sass <span class="small">@4.11.0</span></dd>
                  <dd>chosen-js <span class="small">1.8.7</span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Loader</dt>
                  <dd>style-loader <span class="small">@0.23.1</span></dd>
                  <dd>css-loader <span class="small">@2.1.0</span></dd>
                  <dd>sass-loader <span class="small">@7.1.0</span></dd>
                  <dd>file-loader <span class="small">@3.0.1</span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Plugins <code class="small">NPM</code></dt>
                  <dd> <span class="small"></span></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Plugins <code class="small">Vendor</code></dt>
                  <dd>Parsley <span class="small">@2.9.1</span></dd>
                  <dd>Select2 <span class="small">@4.0.7</span></dd>
                  <!-- <dd>c3 <a href="https://c3js.org/" target="_blank"></a> <span class="small">@0.6.12</span></dd> -->
                  <!-- <dd>d3 <a href="https://www.d3-graph-gallery.com/" target="_blank"></a> <span class="small">@5.8.0</span></dd> -->
                  <dd>SweetAlert2 <span class="small">@8.13.0</span></dd>
                  <dd>Dropzonejs <span class="small">@5.5.0</span></dd>
                  <dd>Swiperjs <span class="small">@4.5.0</span></dd>
                  <dd> <span class="small"></span></dd>
                </dl>
              </li>
            </ul>
          </div>
          <!-- // Code Here -->
        </div>
      </div>
    </div>

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">참고 소스</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>