<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item"><a class="nav-link" href="layout.html">LAYOUT</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="content.html">CONTENT</a></li> -->
          <li class="nav-item"><a class="nav-link" href="components.html">COMPONENTS</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="utilities.html">UTILITIES</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="plugins.html">PLUGINS</a></li> -->
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expandd="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="#" class="dropdown-item">Action</a>
              <a href="#" class="dropdown-item">Another action</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Something else here</a>
            </div>
          </li> -->
          <!-- <li class="nav-item">
            <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form action="" class="form-inline my-2 my-lg-0">
          <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-dark btn-outline-seccess my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Theme</h1>
          <p class="lead">Johnny's theme</p>
          <h2>Plugins</h2>
        </div>
      </div>
      <!-- Page navigation -->
      <!-- <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h2>LAYOUTS</h2>
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="layouts.html#Left">Left fix</a>
            <a class="list-group-item" href="layouts.html#Right">Right fix</a>
            <a class="list-group-item" href="layouts.html#Center">Center fix</a>
          </div>
        </div>
      </div> -->
      <!-- // Page navigation -->
    </div><!-- // Contents-Area -->

    <!-- Parsley
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Parsley</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- C3 / D3
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">C3 / D3</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tags input
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Tags input</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jquery steps
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Jquery steps</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap datepicker
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Bootstrap datepicker</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Select2
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Select2</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Example
      ================================================== -->
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="">Example</h3>
          </div>

          <div class="row">
            <div class="bs-component">
              <!-- Code Here -->

              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Emmet
      ================================================== -->
    <!--
      .bs-docs-section.clearfix>.row>.col-lg-12>.page-header>h2#{Example}^.row>.bs-component
    -->

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">참고 소스</h4>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>
  </div>

</body>

</html>