<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="stylesheet" href="../src/custom.min.css"> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../plugins/html5shiv/dist/html5shiv.js"></script>
    <script src="../plugins/respond/dest/respond.min.js"></script>
  <![endif]-->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {padding-top: 100px;}
    .bs-component {position: relative;}
    .bs-component .source-button {display: none;position: absolute;top: 0;right: 0;}
    .bs-component:hover .source-button {display: block;}
  </style>
</head>

<body>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Header-Area -->
    <div class="container">
      <a href="/index.html" class="navbar-brand h1">Johnny's Theme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item"><a class="nav-link" href="layout.html">LAYOUT</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="content.html">CONTENT</a></li> -->
          <li class="nav-item"><a class="nav-link" href="components.html">COMPONENTS</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="utilities.html">UTILITIES</a></li> -->
          <li class="nav-item"><a class="nav-link" href="plugins.html">PLUGINS</a></li>
          <li class="nav-item"><a class="nav-link" href="feelway.html">FEELWAY</a></li>
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expandd="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="#" class="dropdown-item">Action</a>
              <a href="#" class="dropdown-item">Another action</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Something else here</a>
            </div>
          </li> -->
          <!-- <li class="nav-item">
            <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form action="" class="form-inline my-2 my-lg-0">
          <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-dark btn-outline-seccess my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div><!-- // Header-Area -->
  </div>

  <div class="container">
    <!-- Contents-Area -->
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>FeeLWAY</h1>
          <p class="lead">Project name: <strong>FeeLWAY2.0</strong></p>
          <h2>Plugins</h2>
        </div>
      </div>
    </div><!-- // Contents-Area -->

    <div class="hr-line-dashed"></div>

    <!-- Parsley
    ================================================== -->
    <div class="bs-docs-section">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="typography">Parsley</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h4>Simple form</h4>
          <div class="bs-component">
            <form id="demo-form1" data-parsley-validate="">
              <div class="form-group">
                <label for="fullname">Full Name * :</label>
                <input type="text" class="form-control" name="fullname" required="">
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label for="email">Email * :</label>
                <input type="email" class="form-control" name="email" data-parsley-trigger="change" required="">
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label for="contactMethod">Preferred Contact Method *:</label>
                <p>
                  Email: <input type="radio" name="contactMethod" id="contactMethodEmail" value="Email" required="">
                  Phone: <input type="radio" name="contactMethod" id="contactMethodPhone" value="Phone">
                </p>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label for="hobbies">Hobbies (Optional, but 2 minimum):</label>
                <div>
                  <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2"> <label for="hobby1">Skiing</label>
                  <input type="checkbox" name="hobbies[]" id="hobby2" value="run"> <label for="hobby2">Running</label>
                  <input type="checkbox" name="hobbies[]" id="hobby3" value="eat"> <label for="hobby3">Eating</label>
                  <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep"> <label for="hobby4">Sleeping</label>
                  <input type="checkbox" name="hobbies[]" id="hobby5" value="read"> <label for="hobby5">Reading</label>
                  <input type="checkbox" name="hobbies[]" id="hobby6" value="code"> <label for="hobby6">Coding</label>
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <p>
                  <label for="heard">Heard about us via *:</label>
                  <select id="heard" required="">
                    <option value="">Choose..</option>
                    <option value="press">Press</option>
                    <option value="net">Internet</option>
                    <option value="mouth">Word of mouth</option>
                    <option value="other">Other..</option>
                  </select>
                </p>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <p>
                  <label for="message">Message (20 chars min, 100 max) :</label>
                  <textarea id="message" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20"
                    data-parsley-maxlength="100"
                    data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.."
                    data-parsley-validation-threshold="10"></textarea>
                </p>
              </div>

              <div class="hr-line-dashed"></div>

              <input type="submit" class="btn btn-primary btn-block" value="validate">

            </form>

            <script type="text/javascript">
              $(function () {
                $('#demo-form1').parsley().on('field:validated', function () {
                    var ok = $('.parsley-error').length === 0;
                    $('.bs-callout-info').toggleClass('hidden', !ok);
                    $('.bs-callout-warning').toggleClass('hidden', ok);
                  })
                  .on('form:submit', function () {
                    return false; // Don't submit form for this demo
                  });
              });
            </script>
          </div>
        </div>
        <div class="col-lg-6">
          <h4>Pasley Events</h4>
          <div class="bs-component">
            <form class="demo-form2" data-parsley-validate="">
              <div class="form-group">
                <div class="first">
                  <label for="firstname">Firstname:</label>
                  <input type="text" class="form-control" name="firstname" data-parsley-length="[4, 20]" data-parsley-group="block1">

                  <label for="lastname">Lastname:</label>
                  <input type="text" class="form-control" name="lastname" data-parsley-length="[4, 20]" data-parsley-group="block1">
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <div class="second">
                  <label for="fullname">Fullname:</label>
                  <input type="text" class="form-control" name="fullname" data-parsley-length="[8, 40]" data-parsley-group="block2">
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="invalid-form-error-message"></div>
              <input type="submit" class="btn btn-primary btn-block validate">
            </form>

            <script type="text/javascript">
              $(function () {
                $('.demo-form2').parsley().on('form:validate', function (formInstance) {
                  var ok = formInstance.isValid({
                    group: 'block1',
                    force: true
                  }) || formInstance.isValid({
                    group: 'block2',
                    force: true
                  });
                  $('.invalid-form-error-message')
                    .html(ok ? '' : 'You must correctly fill *at least one of these two blocks!')
                    .toggleClass('filled', !ok);
                  if (!ok)
                    formInstance.validationResult = false;
                });
              });
            </script>
          </div>
        </div>
      </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Example
    ================================================== -->
    <div class="bs-docs-section">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="typography">Example</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Example 1</h4>
          <div class="bs-component">

          </div>
        </div>
      </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Example
    ================================================== -->
    <div class="bs-docs-section">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="typography">Example</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Example 1</h4>
          <div class="bs-component">

          </div>
        </div>
      </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Example
    ================================================== -->
    <div class="bs-docs-section">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="typography">Example</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Example 1</h4>
          <div class="bs-component">

          </div>
        </div>
      </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Example
    ================================================== -->
    <div class="bs-docs-section">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3 id="typography">Example</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Example 1</h4>
          <div class="bs-component">

          </div>
        </div>
      </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!-- Modal
    ================================================== -->
    <div id="source-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">참고 소스</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <pre id="toClipboard"></pre>
          </div>
          <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary"
              onclick="copyToClipboard('#toClipboard')">Copy Source</button></div>
        </div>
      </div>
    </div>

    <script>
      function copyToClipboard(element) {
        $(".bs-component").hover(function () {
          $(this).append($button);
          $button.show();
        }, function () {
          $button.hide();
        });

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("SUCCESS: copy to clipboard.");
      }
    </script>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>