<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic</title>
  <link rel="stylesheet" href="./../plugins/jquery.steps/jquery-steps.css">
</head>
<body>

  <div class="container-fluid">
    <div class="container">
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <!-- Code Here -->
              <div id="demo">
                <div class="step-app">
                  <ul class="step-steps">
                    <li><a href="#step1">Step 1</a></li>
                    <li><a href="#step2">Step 2</a></li>
                    <li><a href="#step3">Step 3</a></li>
                    <li><a href="#step4">Step 4</a></li>
                    <li><a href="#step5">Step 5</a></li>
                    <li><a href="#step6">Step 6</a></li>
                    <li><a href="#step7">Step 7</a></li>
                  </ul>
                  <div class="step-content">
                    <div class="step-tab-panel" id="step1">
                      Step 01
                    </div>
                    <div class="step-tab-panel" id="step2">
                      Step 02
                    </div>
                    <div class="step-tab-panel" id="step3">
                      Step 03
                    </div>
                    <div class="step-tab-panel" id="step4">
                      Step 04
                    </div>
                    <div class="step-tab-panel" id="step5">
                      Step 05
                    </div>
                    <div class="step-tab-panel" id="step6">
                      Step 06
                    </div>
                    <div class="step-tab-panel" id="step7">
                      Step 07
                    </div>
                  </div>
                  <div class="center-block step-footer">
                    <button data-direction="prev" class="btn btn-sm">Previous</button>
                    <button data-direction="next" class="btn btn-sm btn-primary">Next</button>
                    <button data-direction="finish" class="btn btn-sm btn-primary">Finish</button>
                  </div>
                </div>
              </div>

              <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
              <script src="../plugins/jquery.steps/jquery-steps.js"></script>
              <script>
                $('#demo').steps({
                  onFinish: function () {
                    alert('등록이 완료되었습니다~');
                  }
                });
              </script>
              <!-- // Code Here -->
            </div>
          </div>
        </div>
      </div>

      <!-- Modal
        ================================================== -->
      <div id="source-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">참고 소스</h4>
            </div>
            <div class="modal-body">
              <pre id="toClipboard"></pre>
            </div>
            <div class="modal-footer"><button class="btn btn-sm btn-block btn-primary" onclick="copyToClipboard('#toClipboard')">Copy
                Source</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      alert("SUCCESS: copy to clipboard.");
    }
  </script>
</body>
</html>
