// Conects Components
.theme-component {
  // 학원 & 독서실 리스트
  $color-hash: #5a76a0;
  .panel-card {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;height: 115px;
    }
    a {
      display: block;
      &:hover,&:active {
        text-decoration: none;
      }
    }
    .caption {
      > p {
        font-size: .9em;font-weight: 300;color: #999;
        min-height: 46px;max-height: 46px;line-height: 1.6em;
        overflow-y: auto;
      }
      .hash-tag {
        li {
          color: $color-hash;
          padding-left: 2.5px;padding-right: 2.5px;
          &:before {
            content: '#';
          }
          &:first-child {
            padding-left: 5px;
          }
          &:last-child {
            padding-right: 5px;
          }
        }
      }
      .panel-card-eval {
        font-size: .8em;font-weight: 300;color: #999;
        .card-eval-score {
          .eval-quantity {
            &:before {
              content: '(';
            }
            &:after {
              content: ')';
            }
          }
        }
        .card-eval-review {
          &:before {
            content: '· 리뷰 ';
          }
          &:after {
            content: '개';
          }
        }
      }
    }
  }

  // 배너
  .slick-slider {
    &.slick-banner-line {

    }
  }

  // 검색
  .search-form-01 {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    input {
      border: 0;
      box-shadow: none;
    }
    button {
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;
      &:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
      }
    }
    .fa-search {
      font-size: 1.5em;color: #D9230F;
    }
  }
}