// GNB & LNB
.sidebar-fixed-left {
  // position: fixed;
  margin-top: 50px;
  // z-index: 10;
  strong {
    font-size: 1.5em;color: #fff;
  }
  li {
    a {
      padding: 2px;
      font-size: 1.2em;
    }
  }
}
.open-nav {
  display: inline-block;
  transform: rotate(90deg);
  font-size:1.6em;
  cursor:pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    display: block;
    padding: 4px;
    color: #d5d5d5;text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: #fff;
    }
  }
  .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 3em;color: #fff;
    z-index: 1;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}